<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Brand Category</title>
  <link rel="stylesheet" href="../style.css" />
</head>
<body>
  <section class="brand-category">
    <div class="brand-category__item" tabindex="0" data-brand="Apple">
      <p class="brand-category__title">Apple</p>
    </div>
    <div class="brand-category__item" tabindex="0" data-brand="Google">
      <p class="brand-category__title">Google</p>
    </div>
    <div class="brand-category__item" tabindex="0" data-brand="Samsung">
      <p class="brand-category__title">Samsung</p>
    </div>
    <div class="brand-category__item" tabindex="0" data-brand="OnePlus">
      <p class="brand-category__title">OnePlus</p>
    </div>
    <div class="brand-category__item" tabindex="0" data-brand="Oppo">
      <p class="brand-category__title">Oppo</p>
    </div>
  </section>  
  <script src="../script.js"></script>
</body>
</html>