<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
  <link rel="stylesheet" href="../style.css" />
</head>
<body>
  <footer class="site-footer">
    <div class="site-footer__container">
      <div class="site-footer__section site-footer__company">
        <h1 class="site-footer__title">COMPANY</h1>
        <ul>
          <li><a href="/about-us.html">ABOUT US</a></li>
          <li><a href="/contact.html">CONTACT US</a></li>
          <li><a href="/privacy-policy.html">PRIVACY POLICY</a></li>
          <li><a href="/terms-condition.html">TERMS & CONDITIONS</a></li>
        </ul>
      </div>
    
      <div class="site-footer__section site-footer__contact">
        <h1 class="site-footer__title">CONTACT</h1>
        <ul>
          <li>
            <img src="../assets/location.png" alt="location" />
            <a href="#">123 Main Street, Australia</a>
          </li>
          <li>
            <img src="../assets/call-calling.png" alt="phone" />
            <a href="#">+1 (555) 123-4567</a>
          </li>
          <li>
            <img src="../assets/sms-edit.png" alt="email" />
            <a href="#">RlElectronics@gmail.com</a>
          </li>
        </ul>
      </div>
    
      <div class="site-footer__section site-footer__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2916.861474066967!2d147.04952807732147!3d-43.02330284933734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xaa6e7e8a42ec5bb9%3A0x94440c47047f66a5!2s123%20Main%20St%2C%20Huonville%20TAS%207109%2C%20Australia!5e0!3m2!1sen!2sbt!4v1728061546623!5m2!1sen!2sbt" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="site-footer__copyright">
      &copy; 2024 RlElectronics. All rights reserved.
    </div>
  </footer>
</body>
</html>